* {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  margin: 0;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgb(94, 92, 202);
  padding: 10px;
}

.page-logo {
  height: 40px;
  width: auto;
}

.page-title {
  text-shadow: 3px 3px 1px rgb(255, 114, 114);
  font-size: 1.5rem;
}

.main-content {
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.board {
  min-width: 320px;
  align-self: center;
}

.row {
  list-style: none;
  width: fit-content;
  display: flex;
  padding: 0;
  margin: 0;
}

.cell {
  border: 1px solid black;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  padding: 0;
  display: flex;
  font-family: "Press Start 2P", system-ui;
}

.hidden {
  display: none !important;
}
